.container{
    display:grid;
    grid-template-columns:700px 100px;
  }
  .title{
    background-color:#5E686D;
    color:#8ca3a3;
  }
  aside{
    border-left: 1px solid gray  ;
    background-color:#f4f4f4;
  }
  ul{
    list-style-type: none;
    padding:5px
  }
  a{
    color:#8ca3a3;
    text-decoration:none;
    background-color: #e0e2e4;
  }
  li{
    margin:10px;
  }
  h2{
    color:#5E686D;
    background-color:#A9BFA8;
  }
  .author{
    border-radius:55%;
    width:200px;
  }
.top{
  display:flex;
  align-items: center;
}
@media(max-width:780px){
  .container{
  display:grid;
  grid-template-columns:500px 259px;
  } 
}
@media(min-width:780px) and (max-width:1000px){
  .container{
    display:grid;
    grid-template-columns:700px 250px;
  }
}
@media(min-width:1001px){
  .container{
  display:grid;
  grid-template-columns:800px 250px;
  } 
}
